@use "../abstract/variables" as *;

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;

  p {
    color: $clr-neutral-300;
    font-weight: 500;
  }

  .link--container {
    display: flex;
  }

  svg {
    height: 1.5rem;
    margin-left: 1rem;
    display: block;

    path {
      fill: $clr-neutral-300;
    }
  }
}
