@use "../abstract/variables" as *;

.contact--section {
  display: flex;
  flex-wrap: wrap;

  & > div {
    flex: 1 1 20rem;
    width: 100%;
  }

  .information {
    flex: 1 1 10rem;

    p {
      margin: 1rem 0 2rem 0;
    }

    a {
      display: flex;
      align-items: center;
      margin-top: 0.75rem;
      max-width: 20rem;
      border-radius: 0.5rem;
      color: $clr-primary-400;
      padding: 0.75rem 1rem;
      background-color: hsla(220, 33%, 10%, 0.05);
    }

    svg {
      flex: 0 0 1.5rem;
    }

    span {
      padding-left: 0.75rem;
    }
  }

  svg {
    fill: $clr-primary-400;
    height: 1.4rem;
  }

  form {
    max-width: 30rem;
    margin: 0 auto;
  }

  input,
  label,
  textarea {
    display: block;
    outline: none;
    border: none;
  }

  label {
    margin: 1rem 0 0.25rem 0;
    font-weight: 500;
    cursor: pointer;
  }

  input,
  textarea {
    position: relative;
    padding: 0.75em;
    border-radius: 0.25rem;
    width: 100%;
    background-color: hsla(220, 33%, 10%, 0.04);
    overflow: hidden;
  }

  textarea {
    margin: 0 !important;
    resize: vertical;
    min-height: 3rem;
    height: 7rem;
    max-height: 20rem;
  }

  .input--container {
    position: relative;
    overflow: hidden;
  }

  .input--container::after {
    content: "";
    position: absolute;
    background-color: $clr-primary-400;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: 300ms transform ease;
  }

  .input--container:focus-within::after {
    transform: translateX(0);
  }

  .alert {
    width: 100%;
    margin: 1rem 0;
    padding: 0.75rem;
    border-radius: 0.25rem;
    color: hsl(0, 100%, 66%);
    background-color: hsla(0, 100%, 66%, 0.1);
  }

  .send--button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    background: none;
    color: white;
    background-color: $clr-primary-400;
    width: 100%;
    padding: 0.75rem;

    svg {
      margin-right: 0.5rem;
      fill: white;
    }
  }
}
