.projects--section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  padding: 0.5rem;
}

@media screen and (max-width: 40rem) {
  .projects--section {
    grid-template-columns: 1fr;
  }
}
