button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 20px;
  padding: 0.75em;
  cursor: pointer;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 0.95;
  }
}
