$font-size-800: clamp(2.5rem, 1.6rem + 3.7vw, 5rem);
$font-size-700: clamp(2rem, 1.5rem + 2.2vw, 3.5rem);
$font-size-500: clamp(2.125rem, 1.9rem + 0.92vw, 2.75rem);
$font-size-400: clamp(0.875rem, 2.1vw, 1.25rem);

$clr-primary-400: hsl(220, 33%, 10%);

$clr-neutral-400: hsla(0, 0%, 0%, 0.87);
$clr-neutral-300: hsla(0, 0%, 0%, 0.6);
$clr-neutral-200: hsla(0, 0%, 0%, 0.4);
$clr-neutral-100: hsla(0, 0%, 0%, 0.03);

$nav-height: 5rem;
