/*
    Author: Mark Schuurmans
    Date: 20-14-2021

    Project Portfolio    
*/

.hero {
    max-width: 1480px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    & > div {
        flex: 1 1 400px;
    }

    p:not(:first-of-type) {
        margin-top: 2em;
    }
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

@keyframes fadeOut {
    10% {
        transform: translate(-50%, -50%) scale(0.75);
    }

    to {
        transform: translate(-50%, 150%) scale(0.75);
    }
}

.image--section img {
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: width 600ms ease;
}

.image--section div {
    margin-bottom: 3em;
}

.popup {
    position: fixed;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOut 2s ease forwards 500ms;
    transition: all 300ms ease;
    img {
        width: 100%;
        height: 100%;
    }
}

.next--project {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        line-height: 100%;
        margin: 0.5em 0;
        font-size: 72px;
    }
}

.next--project__link {
    display: block;
    position: relative;

    a {
        height: 100%;
        width: 100%;
        display: block;
        padding: 0.25em;
        text-decoration: none;
        color: var(--primary-color);
    }

    &:hover {
        &::after,
        &::before {
            transform: scaleY(1);
        }

        a::after,
        a::before {
            transform: scaleX(1);
        }
    }

    &::after,
    &::before,
    a::after,
    a::before {
        content: "";
        position: absolute;
        background-color: black;
        transition: transform 300ms ease;
    }

    &::after,
    &::before {
        height: 100%;
        width: 2px;
        top: 0;
        transform: scaleY(0);
    }

    &::before {
        transform-origin: top;
        left: 0;
    }

    &::after {
        transform-origin: bottom;
        right: 0;
    }

    a::after,
    a::before {
        width: 100%;
        height: 2px;
        left: 0;
        transform: scaleX(0);
    }

    a::before {
        transform-origin: right;
        top: 0;
    }

    a::after {
        transform-origin: left;
        bottom: 0;
    }
}
