/*
    Author: Mark Schuurmans
    Date: 3-12-2020

    Project Portfolio    
*/

.breadcrumbs {
    transform: translate(-24%, 100%) rotate(90deg);
}

body {
    overflow: hidden;
}

header {
    position: relative;
}

main,
section.contact-section {
    width: 100%;
}

#map {
    position: absolute;
    left: 0;
    bottom: -30vh;
    right: 0;
    height: 90vh;
    outline: none;
    border: none;
    z-index: 0;
    transition: bottom 1s ease;
}

.bigmap {
    top: 0;
}

.contact-information {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 50vw;
    z-index: 1;
    transition: opacity 500ms ease;

    i {
        margin-right: 20px;
    }
    h4 {
        font-size: clamp(18px, 2.2vw, 24px);
    }
}

.expand-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 7;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    cursor: pointer;

    i {
        transition: transform 1s ease;
    }

    &:hover i {
        transform: scale(1.2);
    }
}

footer {
    position: absolute;
    pointer-events: none;
    display: flex;
    left: 10%;
    bottom: 0;
    width: 90%;
}

@media screen and (max-width: 950px) {
    header {
        height: 10vh;
        margin-bottom: 5vh;
    }

    #map {
        height: 90vh;
        bottom: -40vh;
    }

    h1 {
        display: none;
    }

    .contact-information {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: initial;
        position: relative;
        left: initial;
        top: 100px;
        transform: translate(0%, 0%);
        height: 20vh;
        width: 100%;
        flex-direction: column;

        & > div {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 950px) {
    header {
        height: 15vh;
    }

    .contact-information {
        position: absolute;
        top: 0;
        width: calc(85% / 2);
        height: 100%;
    }

    #map {
        position: absolute;
        width: calc(85% / 2);
        height: 85%;
        transform: translate(100%, 20%);
        right: 0;
        top: 0;
        bottom: 0;
    }

    footer {
        display: none;
    }
}
