/*
    Author: Mark Schuurmans
    Date: 3-12-2020

    Project Portfolio    
*/
.breadcrumbs {
    transform: translate(-10%, 45%) rotate(90deg);
}

header {
    position: relative;
}

main {
    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
    }

    section {
        height: 85vh;
        background-color: white;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .information {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--primary-color);

        h3 {
            position: relative;
            display: inline;
            color: white;

            &::after {
                content: "";
                position: absolute;
                height: 2px;
                bottom: -10px;
                width: 40%;
                left: 50%;
                transform: translatex(-50%);
                background-color: red;
            }
        }

        img {
            display: block;
            width: 200px;
        }

        div {
            text-align: left;
            margin: 0 auto;
            text-align: center;

            h4 {
                text-align: left;
                font-size: clamp(12px, 1.4vw, 20px);
                font-weight: 400;
                color: white;
            }

            i {
                margin-right: 1em;
            }
        }
    }

    .cv {
        overflow-y: scroll;

        h2 {
            font-size: clamp(22px, 3.2vw, 42px);
            line-height: clamp(22px, 3.2vw, 42px);
            margin-top: 1.25em;
        }

        h4 {
            font-size: clamp(16px, 2vw, 26px);
            line-height: clamp(16px, 2vw, 26px);
            margin: 1.25em 0 0.25em 30px;
            font-weight: 400;

            a {
                color: var(--primary-color);
                text-decoration: none;
                position: relative;
            }
        }

        img {
            position: absolute;
            transform: rotate(270deg) translate(-39.8%, -200%);
            width: 85vh;
            user-select: none;
        }

        &__information {
            margin-left: 9vw;
            p {
                margin: 0.35em 0 0 30px;
                a {
                    color: inherit;
                    font-weight: 600;
                    text-decoration: none;
                    padding-bottom: 5em;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    header {
        height: 10vh;
        margin-bottom: 5vh;
    }

    main {
        .cv {
            img {
                position: absolute;
                transform: rotate(0deg);
                width: 80vw;
            }
            &__information {
                margin: 10vh 0 10vh 9vw;
                padding-bottom: 10vh;
                h4 {
                    margin-left: 0;
                    font-weight: 500;
                }
                p {
                    margin-left: 0;
                }
            }
        }

        section {
            display: flex;
            flex-direction: column;
        }

        .information {
            padding: 40px 0;
            img {
                width: 100px;
            }
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 950px) {
    header {
        height: 15vh;
    }
    main {
        section {
            height: auto;
        }
        width: 85%;
        .cv {
            &__information {
                margin-top: 30vh;
            }
            img {
                width: 68vw;
            }
        }
    }
}
