/* 
    Author: Mark Schuurmans
    Date: 3-12-2020

    Project Portfolio
*/

main {
    // verbergt het gedeelde vab de afbeelding in de section "project" die buiten beeld komt te staan
    overflow-x: hidden;
}

@keyframes revealText {
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.intro--container {
    padding: 20vh 0 0 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 80%;
    margin: 0 auto;

    :not(div) {
        animation: revealText 1s ease forwards;
        transform: translateY(30px);
        opacity: 0;
    }

    h2 {
        animation-delay: 250ms;
    }

    h3 {
        margin-top: 30px;
    }

    a,
    span {
        display: inline-block;
        animation-delay: 500ms;
    }

    .button {
        animation-delay: 750ms;
    }

    &__text {
        a {
            color: var(--primary-color);
            text-decoration: none;
        }

        span {
            color: #878a8f;
        }

        .intro__text--link {
            position: relative;
            // Pushes border futher down
            padding-bottom: 4px;
            font-weight: 700;
            border-bottom: 2px solid transparent;
            transition: border 300ms ease;

            &:hover {
                border-bottom: 2px solid var(--primary-color);
            }
        }

        .button {
            border: 2px #0659fd solid;
            font-weight: 600;
            display: inline-block;
            margin-top: 1.5em;
            color: white;
            font-size: clamp(1.75rem, calc(1.5833rem + 0.7407vw), 2.25rem);
            background-color: #0659fd;
            border-radius: 10px;
            padding: 0.25em 0.5em;
            transition: background-color 500ms ease, color 500ms ease;
            &:hover {
                color: #0659fd;
                background: none;
            }
        }

        i {
            margin-right: 0.5em;
        }
    }

    img {
        height: 100%;
        transition: transform 300ms ease;
    }
}

.introduction {
    padding-top: 15vh;
    gap: 1em;

    .introduction__text--firstline {
        display: none;
    }
    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    h4 {
        margin-bottom: 1em;
        text-align: left;
        font-size: clamp(12px, 2vw, 20px);
    }
    &__name {
        width: 30%;
        flex-direction: column;
        img {
            width: 50%;
        }
        h4 {
            font-weight: 600;
            font-size: clamp(16px, 1.6vw, 28px);
        }
        &--underline {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 10px;
                background-color: #0659fd;
                bottom: -0.6em;
                left: 0;
                border-radius: 5px;
            }
        }
    }
    &__text {
        width: 70%;
    }
}

.project {
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-left: 10%;
    z-index: 100;
    transform: translateY(20%);

    h2 {
        margin-top: 0.1em;
    }

    h4 {
        margin: 0.6em 0 0.3em 0;
    }

    img {
        width: 60vw;
        transition: transform 300ms ease;
        &:hover {
            transform: translateX(-5%) scale(0.95);
        }
    }
}

.introduction {
    text-align: center;
}

.slider--container {
    min-width: 100%;
    text-align: center;

    path {
        fill: var(--slider-background);
    }

    .slider__button {
        // Dit is nodig om margin toe te kunnen voegen
        display: inline-block;
        color: white;
        font-weight: 800;
        background-color: var(--primary-color);
        border-radius: 10px;
        padding: 1.2em 2.6em;
        text-decoration: none;
        border: 0.2em var(--primary-color) solid;
        transition: background 300ms ease, color 300ms ease;
        &:hover {
            color: var(--primary-color);
            background: none;
        }
    }
}

.slider {
    box-sizing: content-box;
    padding: 150px 0;
    font-size: clamp(11rem, calc(2.6667rem + 37vw), 36rem);
    height: 1em;
    background-color: var(--slider-background);
    // padding: 12em 0;

    & > div {
        display: flex;
        align-items: center;
        gap: 20px;
        // transform: translateX(50%);
    }

    div {
        height: 100%;
    }

    img {
        height: 100%;
    }
}

.contact__section {
    margin: 100px auto;
    text-align: center;

    h2 {
        margin: 3em 0 1em 0;
    }

    .contact__button {
        // Dit is nodig om margin toe te kunnen voegen
        display: inline-block;
        color: white;
        font-weight: 800;
        background-color: var(--primary-color);
        border-radius: 10px;
        padding: 1.2em 2.6em;
        text-decoration: none;
        border: 0.2em var(--primary-color) solid;
        transition: background 300ms ease, color 300ms ease;
        &:hover {
            color: var(--primary-color);
            background: none;
        }
    }
}

@media screen and (max-width: 950px) {
    header {
        background-color: rgba(239, 239, 239, 0.2);
    }

    .intro--container {
        padding-top: 0;
    }

    .intro {
        height: 80vh;
        min-height: 80vh;
        text-align: center;
        flex-direction: column;
        margin: 11vh auto 0 auto;

        img {
            margin-top: -10vh;
            height: 70%;
        }
    }
    .introduction {
        .introduction__text--firstline {
            display: block;
            margin-bottom: 0;
        }
        transform: translateY(0%);
        a {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
        p {
            text-align: left;
            margin-bottom: 2em;
            font-size: clamp(13px, 2vw, 20px);
            letter-spacing: 3px;
        }

        h4 {
            text-align: left;
            font-size: clamp(12px, 2vw, 20px);
        }
        .introduction__name {
            display: none;
        }

        &__text {
            width: 100%;
        }
    }
    .project {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;

        div {
            text-align: center;
        }

        img {
            width: 90vw;
        }

        .no--spacing {
            margin-top: 1.5em;
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 950px) {
    .intro {
        margin: 20vh auto 80vh auto;
    }
}
