/*
    Author: Mark Schuurmans
    Date: 3-12-2020

    Project Portfolio    
*/
.breadcrumbs {
  -webkit-transform: translate(-24%, 110%) rotate(90deg);
          transform: translate(-24%, 110%) rotate(90deg);
}

main {
  width: 90%;
  margin: 0 auto;
}

main .iframe--text {
  text-align: center;
}

main .iframe--text h2 {
  font-size: clamp(30px, 4.2vw, 72px);
}

main .iframe--text h4 {
  width: 60%;
  margin: 0.5em auto 1em auto;
}

main .iframe--text p.no--spacing {
  margin-bottom: 1em;
}

main iframe {
  width: 100%;
  height: 70vh;
  border: none;
  background-color: white;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
}

main .gallery {
  margin: 20vh 0 10vh 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

main .gallery .img__container {
  position: relative;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  overflow: hidden;
}

main .gallery .img__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .gallery .img__container img:hover {
  -webkit-transform: rotate(1deg) scale(1.07);
          transform: rotate(1deg) scale(1.07);
}

main .gallery .img__container img:hover + div {
  -webkit-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
  opacity: 0;
}

main .gallery .img__container .gallery__image--bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 7.5%;
  width: 100%;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .gallery .img__container .gallery__image--bar div {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

main .gallery .img__container .gallery__image--bar p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  color: black;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 600;
}

main .gallery .img__container .gallery__image--bar span {
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffbc2d;
}

main .gallery .img__container .gallery__image--bar span:first-of-type {
  background-color: #28ca41;
}

main .gallery .img__container .gallery__image--bar .red {
  background-color: #ff5f57;
  margin-right: 15px;
}

main .full__image--container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
  text-align: center;
}

main .full__image--container.open {
  opacity: 1;
  pointer-events: all;
}

main .full__image--container figcaption {
  color: white;
  position: absolute;
  font-size: clamp(16px, 2.1vw, 20px);
  line-height: clamp(16px, 2.1vw, 20px);
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

main .full__image--container .full__image {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 950px) {
  main {
    width: 95%;
  }
  main .iframe--text {
    padding-top: 15vh;
    text-align: center;
  }
  main .iframe--text h2 {
    margin-top: 0;
  }
  main .iframe--text h4 {
    width: 100%;
  }
  main .gallery {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  main iframe {
    height: 60vh;
  }
  main figcaption {
    width: 80%;
  }
  main .full__image {
    width: 90%;
  }
}

@media screen and (orientation: portrait) and (max-width: 950px) {
  main .full__image--container .full__image {
    height: 25vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 950px) {
  main,
  .background__text {
    width: 85%;
  }
  main iframe,
  .background__text iframe {
    height: 80vh;
  }
  main .full__image--container .full__image,
  .background__text .full__image--container .full__image {
    top: 40%;
    height: 70vh;
    width: 60%;
  }
}
/*# sourceMappingURL=portfolio.css.map */